/*------------------------------------*\
    Responsive
\*------------------------------------*/

/*
* Text size
*/

@media(max-width: 1199px) {
    .md-text {
        &-extra-small { font-size: 10px !important; line-height: 15px !important; }
        &-small       { font-size: 11px !important; line-height: 20px !important; }
        &-medium      { font-size: 14px !important; line-height: 22px !important; }
        &-large       { font-size: 15px !important; line-height: 24px !important; }
        &-extra-large { font-size: 18px !important; line-height: 26px !important; }
    }

    .md-title {
        &-small         { font-size:  20px !important; line-height:  30px !important; }
        &-medium        { font-size:  24px !important; line-height:  32px !important; }
        &-large         { font-size:  28px !important; line-height:  34px !important; }
        &-extra-large   { font-size:  35px !important; line-height:  38px !important; }
        &-extra-large-2 { font-size:  45px !important; line-height:  45px !important; }
        &-extra-large-3 { font-size:  50px !important; line-height:  50px !important; }
        &-extra-large-4 { font-size:  70px !important; line-height:  70px !important; }
        &-extra-large-5 { font-size:  80px !important; line-height:  80px !important; }
        &-big           { font-size: 100px !important; line-height: 100px !important; }
        &-big-2         { font-size: 125px !important; line-height: 125px !important; }
        &-big-3         { font-size: 150px !important; line-height: 150px !important; }   
    }
}

@media(max-width: 991px) {
    .sm-text {
        &-extra-small { font-size: 10px !important; line-height: 15px !important; }
        &-small       { font-size: 11px !important; line-height: 20px !important; }
        &-medium      { font-size: 14px !important; line-height: 22px !important; }
        &-large       { font-size: 15px !important; line-height: 24px !important; }
        &-extra-large { font-size: 18px !important; line-height: 26px !important; }
    }

    .sm-title {
        &-small         { font-size:  20px !important; line-height:  30px !important; }
        &-medium        { font-size:  24px !important; line-height:  32px !important; }
        &-large         { font-size:  28px !important; line-height:  34px !important; }
        &-extra-large   { font-size:  35px !important; line-height:  38px !important; }
        &-extra-large-2 { font-size:  45px !important; line-height:  45px !important; }
        &-extra-large-3 { font-size:  50px !important; line-height:  50px !important; }
        &-extra-large-4 { font-size:  70px !important; line-height:  70px !important; }
        &-extra-large-5 { font-size:  80px !important; line-height:  80px !important; }
        &-big           { font-size: 100px !important; line-height: 100px !important; }
        &-big-2         { font-size: 125px !important; line-height: 125px !important; }
        &-big-3         { font-size: 150px !important; line-height: 150px !important; }   
    }
}

@media(max-width: 767px) {
    .xs-text {
        &-extra-small { font-size: 10px !important; line-height: 15px !important; }
        &-small       { font-size: 11px !important; line-height: 20px !important; }
        &-medium      { font-size: 14px !important; line-height: 22px !important; }
        &-large       { font-size: 15px !important; line-height: 24px !important; }
        &-extra-large { font-size: 18px !important; line-height: 26px !important; }
    }

    .xs-title {
        &-small         { font-size:  20px !important; line-height:  30px !important; }
        &-medium        { font-size:  24px !important; line-height:  32px !important; }
        &-large         { font-size:  28px !important; line-height:  34px !important; }
        &-extra-large   { font-size:  35px !important; line-height:  38px !important; }
        &-extra-large-2 { font-size:  45px !important; line-height:  45px !important; }
        &-extra-large-3 { font-size:  50px !important; line-height:  50px !important; }
        &-extra-large-4 { font-size:  70px !important; line-height:  70px !important; }
        &-extra-large-5 { font-size:  80px !important; line-height:  80px !important; }
        &-big           { font-size: 100px !important; line-height: 100px !important; }
        &-big-2         { font-size: 125px !important; line-height: 125px !important; }
        &-big-3         { font-size: 150px !important; line-height: 150px !important; }   
    }
}


/*
* Border
*/

@media(max-width: 1199px) {
    .md-no-border {
        border: none !important;

        &-radius {
            border-radius: 0 !important;
        }
    }
}

@media(max-width: 991px) {
    .sm-no-border {
        border: none !important;

        &-radius {
            border-radius: 0 !important;
        }
    }
}

@media(max-width: 767px) {
    .xs-no-border {
        border: none !important;

        &-radius {
            border-radius: 0 !important;
        }
    }
}


/*
* Buttons
*/

@media(max-width: 1199px) {
    .btn {
        &.md-btn-extra-small {
            font-size: 9px;
            padding: 4px 12px 3px;
        }

        &.md-btn-small {
            font-size: 11px;
            padding: 5px 14px;
        }

        &.md-btn-medium {
            font-size: 14px;
            padding: 10px 22px;
        }

        &.md-btn-large {
            font-size: 16px;
            padding: 16px 30px;
        }

        &.md-btn-extra-large {
            font-size: 18px;
            padding: 18px 35px;
        }
    }
}

@media(max-width: 991px) {
    .btn {
        &.sm-btn-extra-small {
            font-size: 9px;
            padding: 4px 12px 3px;
        }

        &.sm-btn-small {
            font-size: 11px;
            padding: 5px 14px;
        }

        &.sm-btn-medium {
            font-size: 14px;
            padding: 10px 22px;
        }

        &.sm-btn-large {
            font-size: 16px;
            padding: 16px 30px;
        }

        &.sm-btn-extra-large {
            font-size: 18px;
            padding: 18px 35px;
        }
    }
}

@media(max-width: 767px) {
    .btn {
        &.xs-btn-extra-small {
            font-size: 9px;
            padding: 4px 12px 3px;
        }

        &.xs-btn-small {
            font-size: 11px;
            padding: 5px 14px;
        }

        &.xs-btn-medium {
            font-size: 14px;
            padding: 10px 22px;
        }

        &.xs-btn-large {
            font-size: 16px;
            padding: 16px 30px;
        }

        &.xs-btn-extra-large {
            font-size: 18px;
            padding: 18px 35px;
        }
    }
}


/*
* Display
*/

@media(max-width: 1199px) {
    .md-display {
        &-block        { display:        block !important; }
        &-inline       { display:       inline !important; }
        &-inline-block { display: inline-block !important; }
        &-none         { display:         none !important; }
    }
}

@media(max-width: 991px) {
    .sm-display {
        &-block        { display:        block !important; }
        &-inline       { display:       inline !important; }
        &-inline-block { display: inline-block !important; }
        &-none         { display:         none !important; }
    }
}

@media(max-width: 767px) {
    .xs-display {
        &-block        { display:        block !important; }
        &-inline       { display:       inline !important; }
        &-inline-block { display: inline-block !important; }
        &-none         { display:         none !important; }
    }
}


/*
* Height
*/

@media(max-width: 1199px) {
    .md-height-50   { height:  50% !important; }
    .md-height-100  { height: 100% !important; }
}

@media(max-width: 991px) {
    .sm-height-50   { height:  50% !important; }
    .sm-height-100  { height: 100% !important; }
}

@media(max-width: 767px) {
    .xs-height-50   { height:  50% !important; }
    .xs-height-100  { height: 100% !important; }
}


/*
* Margin
*/

@media(max-width: 1199px) {
    @for $i from 1 through 20 {
        .md-margin-#{$i} { margin: 1% * $i !important; }
        .md-margin-#{$i}-#{5} { margin: 1% * $i + 0.5 !important; }
    }
    
    .md-margin {
        &-rl-auto {
            margin-right: auto !important;
            margin-left:  auto !important;
        }
    }

    .md-no-margin {
        margin: 0 !important;

        &-top    { margin-top:    0 !important; }
        &-right  { margin-right:  0 !important; }
        &-bottom { margin-bottom: 0 !important; }
        &-left   { margin-left:   0 !important; }

        &-tb { margin-top:   0 !important; margin-bottom: 0 !important; }
        &-rl { margin-right: 0 !important; margin-left:   0 !important; }
    }
}

@media(max-width: 991px) {
    @for $i from 1 through 20 {
        .sm-margin-#{$i} { margin: 1% * $i !important; }
        .sm-margin-#{$i}-#{5} { margin: 1% * $i + 0.5 !important; }
    }
    
    .sm-margin {
        &-rl-auto {
            margin-right: auto !important;
            margin-left:  auto !important;
        }
    }

    .sm-no-margin {
        margin: 0 !important;

        &-top    { margin-top:    0 !important; }
        &-right  { margin-right:  0 !important; }
        &-bottom { margin-bottom: 0 !important; }
        &-left   { margin-left:   0 !important; }

        &-tb { margin-top:   0 !important; margin-bottom: 0 !important; }
        &-rl { margin-right: 0 !important; margin-left:   0 !important; }
    }
}

@media(max-width: 767px) {
    @for $i from 1 through 20 {
        .xs-margin-#{$i} { margin: 1% * $i !important; }
        .xs-margin-#{$i}-#{5} { margin: 1% * $i + 0.5 !important; }
    }
    
    .xs-margin {
        &-rl-auto {
            margin-right: auto !important;
            margin-left:  auto !important;
        }
    }

    .xs-no-margin {
        margin: 0 !important;

        &-top    { margin-top:    0 !important; }
        &-right  { margin-right:  0 !important; }
        &-bottom { margin-bottom: 0 !important; }
        &-left   { margin-left:   0 !important; }

        &-tb { margin-top:   0 !important; margin-bottom: 0 !important; }
        &-rl { margin-right: 0 !important; margin-left:   0 !important; }
    }
}


/*
* Opacity
*/

@media(max-width: 1199px) {
    @for $i from 0 through 9 {
        .md-opacity-#{$i} { opacity: $i / 10 !important; }
    }
    
    .md-no-opacity {
        opacity: 1 !important;
    }
}

@media(max-width: 991px) {
    @for $i from 0 through 9 {
        .sm-opacity-#{$i} { opacity: $i / 10 !important; }
    }
    
    .sm-no-opacity {
        opacity: 1 !important;
    }
}

@media(max-width: 767px) {
    @for $i from 0 through 9 {
        .xs-opacity-#{$i} { opacity: $i / 10 !important; }
    }
    
    .xs-no-opacity {
        opacity: 1 !important;
    }
}


/*
* Overflow
*/

@media(max-width: 1199px) {
    .md-overflow {
        &-hidden {
            overflow: hidden !important;
        }

        &-visible {
            overflow: visible !important;
        }
    }
}

@media(max-width: 991px) {
    .sm-overflow {
        &-hidden {
            overflow: hidden !important;
        }

        &-visible {
            overflow: visible !important;
        }
    }
}

@media(max-width: 767px) {
    .xs-overflow {
        &-hidden {
            overflow: hidden !important;
        }

        &-visible {
            overflow: visible !important;
        }
    }
}


/*
* Padding
*/

@media(max-width: 1199px) {
    @for $i from 1 through 20 {
        .md-padding-#{$i} { padding: 1% * $i !important; }
        .md-padding-#{$i}-#{5} { padding: 1% * $i + 0.5 !important; }
    }
    
    .md-no-padding {
        padding: 0 !important;

        &-top    { padding-top:    0 !important; }
        &-right  { padding-right:  0 !important; }
        &-bottom { padding-bottom: 0 !important; }
        &-left   { padding-left:   0 !important; }

        &-tb { padding-top:   0 !important; padding-bottom: 0 !important; }
        &-rl { padding-right: 0 !important; padding-left:   0 !important; }
    }
}

@media(max-width: 991px) {
    @for $i from 1 through 20 {
        .sm-padding-#{$i} { padding: 1% * $i !important; }
        .sm-padding-#{$i}-#{5} { padding: 1% * $i + 0.5 !important; }
    }
    
    .sm-no-padding {
        padding: 0 !important;

        &-top    { padding-top:    0 !important; }
        &-right  { padding-right:  0 !important; }
        &-bottom { padding-bottom: 0 !important; }
        &-left   { padding-left:   0 !important; }

        &-tb { padding-top:   0 !important; padding-bottom: 0 !important; }
        &-rl { padding-right: 0 !important; padding-left:   0 !important; }
    }
}

@media(max-width: 767px) {
    @for $i from 1 through 20 {
        .xs-padding-#{$i} { padding: 1% * $i !important; }
        .xs-padding-#{$i}-#{5} { padding: 1% * $i + 0.5 !important; }
    }
    
    .xs-no-padding {
        padding: 0 !important;

        &-top    { padding-top:    0 !important; }
        &-right  { padding-right:  0 !important; }
        &-bottom { padding-bottom: 0 !important; }
        &-left   { padding-left:   0 !important; }

        &-tb { padding-top:   0 !important; padding-bottom: 0 !important; }
        &-rl { padding-right: 0 !important; padding-left:   0 !important; }
    }
}


/*
* Position
*/

@media(max-width: 1199px) {
    .md-position {
        &-absolute { position: absolute !important; }
        &-fixed    { position:    fixed !important; }
        &-relative { position: relative !important; }
        
        &-top    { top:    0 !important; }    
        &-right  { right:  0 !important; left: auto !important; }
        &-bottom { bottom: 0 !important; }
        &-left   { left:   0 !important; }
        
        &-top-50  { top:  50% !important; }
        &-left-50 { left: 50% !important; }
    }
}

@media(max-width: 991px) {
    .sm-position {
        &-absolute { position: absolute !important; }
        &-fixed    { position:    fixed !important; }
        &-relative { position: relative !important; }
        
        &-top    { top:    0 !important; }    
        &-right  { right:  0 !important; left: auto !important; }
        &-bottom { bottom: 0 !important; }
        &-left   { left:   0 !important; }
        
        &-top-50  { top:  50% !important; }
        &-left-50 { left: 50% !important; }
    }
}

@media(max-width: 767px) {
    .xs-position {
        &-absolute { position: absolute !important; }
        &-fixed    { position:    fixed !important; }
        &-relative { position: relative !important; }
        
        &-top    { top:    0 !important; }    
        &-right  { right:  0 !important; left: auto !important; }
        &-bottom { bottom: 0 !important; }
        &-left   { left:   0 !important; }
        
        &-top-50  { top:  50% !important; }
        &-left-50 { left: 50% !important; }
    }
}


/*
* Text align
*/

@media(max-width: 1199px) {
    .md-text-right   { text-align:   right !important; }
    .md-text-left    { text-align:    left !important; }
    .md-text-center  { text-align:  center !important; }
    .md-text-justify { text-align: justify !important; }
}

@media(max-width: 991px) {
    .sm-text-right   { text-align:   right !important; }
    .sm-text-left    { text-align:    left !important; }
    .sm-text-center  { text-align:  center !important; }
    .sm-text-justify { text-align: justify !important; }
}

@media(max-width: 767px) {
    .xs-text-right   { text-align:   right !important; }
    .xs-text-left    { text-align:    left !important; }
    .xs-text-center  { text-align:  center !important; }
    .xs-text-justify { text-align: justify !important; }
}


/*
* Width
*/

@media(max-width: 1199px) {
    .md-width-50   { width:  50% !important; }
    .md-width-100  { width: 100% !important; }
}

@media(max-width: 991px) {
    .sm-width-50   { width:  50% !important; }
    .sm-width-100  { width: 100% !important; }
}

@media(max-width: 767px) {
    .xs-width-50   { width:  50% !important; }
    .xs-width-100  { width: 100% !important; }
}


/*
* Gallery
*/

@media(min-width: 544px) and (max-width: 991px) {
    .gallery-grid {
        figcaption {
            .display-table {
                height: 100%;
            }
            
            .display-table-cell {
                padding: 0 20px;
            }
        }
    }
}


/*
* Gallery
*/

@media(min-width: 544px) and (max-width: 991px) {
    .gallery-grid {
        figcaption {
            .display-table {
                height: 100%;
            }
            
            .display-table-cell {
                padding: 0 20px;
            }
        }
    }
}


/*
* Gallery - Grid & gutter
*/

@media(max-width: 991px) {
    %gallery-grid-col-2-width-991 {
        width: $grid-col-2-width !important;
    }
    
    %gallery-gutter-medium-margin-991 {
        margin-left: -1 * $gutter-medium !important;
    }
    
    %gallery-gutter-medium-padding-991 {
        padding: 0 0 $gutter-medium $gutter-medium !important;
    }
    
    .gallery-grid {
        @extend %gallery-gutter-medium-margin-991;
            
        .item {
            @extend %gallery-grid-col-2-width-991;
            @extend %gallery-gutter-medium-padding-991;
        }
    }
}

@media(max-width: 767px) {
    %gallery-gutter-small-margin-767 {
        margin-left: -1 * $gutter-small !important;
    }
    
    %gallery-gutter-small-padding-767 {
        padding: 0 0 $gutter-small $gutter-small !important;
    }
    
    .gallery-grid {
        @extend %gallery-gutter-small-margin-767;
        
        .item {
            @extend %gallery-gutter-small-padding-767;
        }
    }
}

@media(max-width: 543px) {
    %gallery-grid-col-1-width-543 {
        width: $grid-col-1-width !important;
    }
    
    %gallery-gutter-medium-margin-543 {
        margin-left: -1 * $gutter-medium !important;
    }
    
    %gallery-gutter-medium-padding-543 {
        padding: 0 0 $gutter-medium $gutter-medium !important;
    }

    .gallery-grid {
        @extend %gallery-gutter-medium-margin-543;
        
        .item {
            @extend %gallery-grid-col-1-width-543;
            @extend %gallery-gutter-medium-padding-543;
        }
    }
}


/*
* Gallery - Magnific popup
*/

@media(min-width: 992px) {
    .mfp-bg {
        opacity: 0.98;
    }
    
    button.mfp-close {
        display: none !important;
    }
}


/*
* Navigation
*/

@media (max-width: 991px) {
    .navbar {
        .container {
            width: 100%;
        }
        
        .navbar-collapse {
            border-top: 1px solid rgba(255, 255, 255, .2);
            
            &.pull-right {
                float: none !important;
            }
        }
        
        &.navbar-white {
            background-color: map-get($colors, white);
            opacity: .96;

            .navbar-brand {
                color: map-get($colors, black);

                img {
                    &.logo-navbar-dark {
                        opacity: 0;
                    }

                    &.logo-navbar-white {
                        opacity: 1;
                    }
                }
            }

            .navbar-toggle {
                border: 1px solid map-get($colors, black);

                .icon-bar {
                    background-color: map-get($colors, black);
                }
            }

            .navbar-nav {
                > li {
                    &.active {
                        > a {
                            &:before {
                                background-color: map-get($colors, black);
                            }
                        }
                    }

                    > a {
                        color: map-get($colors, black);
                    }
                }
            }

            .navbar-collapse {
                border-top: 1px solid rgba(0, 0, 0, .08);
            }
        }
    }
}

@media(min-width: 992px) {
    .navbar {
        background-color: rgba(0, 0, 0, .15);
        border-bottom: 1px solid rgba(255, 255, 255, .15);
        
        .navbar-nav {
            > li {
                line-height: 80px !important;
                padding: 0 15px;
            }
        }
        
        &.shrink {
            .container {
                height: 60px;
            }
            
            .navbar-brand {
                height: 60px;
                line-height: 60px !important;
                
                img {
                    max-height: 38px;
                    top: 9px;
                }
            }
            
            .navbar-nav {
                > li {
                    line-height: 60px !important;
                }
            }
        }
    }
}


/*
* Section
*/

section {
    @media(min-width: 768px) {
        padding: 120px 0;
    }
    
    @media(min-width: 992px) {
        padding: 135px 0;
    }
}