/*-------------------------------------*\
    Color
\*-------------------------------------*/

@import 'variables';

/* You can choose from 8 color schemes: blue, green, green-2, orange, orange-2, pink, purple, red */
$base-color: map-get($colors, pink); 


/*
* Heading style colors
*/

.title {
    &-underline {
        &-base-color {
            border-color: $base-color;
        }
        
        &-thick-base-color {
            border-color: $base-color;
        }
    }
    
    &-sideline-base-color {
        &:before {
            background-color: $base-color;
        }
    }
    
    &-strikethrough-base-color {
        &:before {
            background-color: $base-color;
        }
    }
}


/*
* Text color
*/

.text-base-color {
    color: $base-color !important;
}


/*
* Text color (on hover)
*/

.text-hover-base-color {
    &:hover, &:focus {
        color: $base-color !important;
    }
}


/*
* Background color
*/

.bg-base-color {
    background-color: $base-color !important;
}


/*
* Background color (on hover)
*/

.bg-hover-base-color {
    &:hover {
        background-color: $base-color !important;
    }
}


/*
* Border color
*/

.border-base-color {
    border-color: $base-color !important;
}


/*
* Box shadow color
*/

.box-shadow {
    &-base-color {
        -webkit-box-shadow: 0px 0px 0px 1px rgba($base-color, 1) !important;
        -moz-box-shadow: 0px 0px 0px 1px rgba($base-color, 1) !important;
        box-shadow: 0px 0px 0px 1px rgba($base-color, 1) !important;
    }
    
    &-thick-base-color {
        -webkit-box-shadow: 0px 0px 0px 2px rgba($base-color, 1) !important;
        -moz-box-shadow: 0px 0px 0px 2px rgba($base-color, 1) !important;
        box-shadow: 0px 0px 0px 2px rgba($base-color, 1) !important;
    }

    &-medium-thick-base-color {
        -webkit-box-shadow: 0px 0px 0px 3px rgba($base-color, 1) !important;
        -moz-box-shadow: 0px 0px 0px 3px rgba($base-color, 1) !important;
        box-shadow: 0px 0px 0px 3px rgba($base-color, 1) !important;
    }

    &-extra-thick-base-color {
        -webkit-box-shadow: 0px 0px 0px 4px rgba($base-color, 1) !important;
        -moz-box-shadow: 0px 0px 0px 4px rgba($base-color, 1) !important;
        box-shadow: 0px 0px 0px 4px rgba($base-color, 1) !important;
    }
}


/*
* Button colors
*/

.btn {
    &.btn-base-color {
        background-color: $base-color;

        &.btn-hover-transparent {
            &:hover {
                border-color: $base-color;
                color: $base-color;
            }
        }
    }
    
    &.btn-outline-base-color {
        border-color: $base-color;
        color: $base-color;

        &:hover, &:focus {
            background-color: $base-color;
        }

        &.btn-hover-transparent {
            &:hover, &:focus {
                color: $base-color;
            }
        }
    }
}


/*
* Preloader color
*/

.pace {
    .pace-progress {
        background-color: $base-color;
    }
}


/*
* Triangle color
*/

.triangle {
    @each $color-name, $color-code in $colors {
        &-top {
            &-right {
                &.triangle-base-color {
                    border-color: transparent $base-color transparent transparent;
                }
            }

            &-left {
                &.triangle-base-color {
                    border-color: $base-color transparent transparent transparent;
                }
            }
        }
        
        &-bottom {
            &-right {
                &.triangle-base-color {
                    border-color: transparent transparent $base-color transparent;
                }
            }

            &-left {
                &.triangle-base-color {
                    border-color: transparent transparent transparent $base-color;
                }
            }
        }
    }
}